In [1]:
import pandas as pd
pd.set_option('display.max_columns', 100)
import json

In [2]:
df = pd.read_json('../add/S12-19_NumberOfPassengers.geojson')
print(df)
df.columns

                    type                                           features
0      FeatureCollection  {'type': 'Feature', 'properties': {'駅名': '二月田'...
1      FeatureCollection  {'type': 'Feature', 'properties': {'駅名': '古島',...
2      FeatureCollection  {'type': 'Feature', 'properties': {'駅名': 'お台場海...
3      FeatureCollection  {'type': 'Feature', 'properties': {'駅名': '東京国際...
4      FeatureCollection  {'type': 'Feature', 'properties': {'駅名': 'テレコム...
...                  ...                                                ...
10441  FeatureCollection  {'type': 'Feature', 'properties': {'駅名': '栄町',...
10442  FeatureCollection  {'type': 'Feature', 'properties': {'駅名': '清流みは...
10443  FeatureCollection  {'type': 'Feature', 'properties': {'駅名': '八木沢・...
10444  FeatureCollection  {'type': 'Feature', 'properties': {'駅名': '払川',...
10445  FeatureCollection  {'type': 'Feature', 'properties': {'駅名': '糸島高校...

[10446 rows x 2 columns]

Index(['type', 'features'], dtype='object')

In [3]:
df_json = pd.json_normalize(df['features'])

In [4]:
df_add_station = df_json[["properties.駅名", "properties.運営会社", "properties.路線名", "properties.乗降客数18"]].copy()
df_add_station.rename(columns={"properties.駅名":"最寄駅：名称",
                               "properties.運営会社":"運営会社",
                               "properties.路線名":"路線名",
                               "properties.乗降客数18":"乗降客数18"}, inplace=True)

In [5]:
df_add_station.to_csv("../add/station.csv", index=False)

In [6]:
pd.read_csv("../add/station.csv")

              最寄駅：名称       運営会社         路線名  乗降客数18
0                二月田     九州旅客鉄道       指宿枕崎線     658
1                 古島  沖縄都市モノレール  沖縄都市モノレール線    5086
2            お台場海浜公園      ゆりかもめ  東京臨海新交通臨海線   17165
3      東京国際クルーズターミナル      ゆりかもめ  東京臨海新交通臨海線    3551
4           テレコムセンター      ゆりかもめ  東京臨海新交通臨海線   13475
...              ...        ...         ...     ...
10441             栄町     富山地方鉄道        不二越線      53
10442         清流みはらし       錦川鉄道       錦川清流線       0
10443       八木沢・宮古短大       三陸鉄道        リアス線      49
10444             払川       三陸鉄道        リアス線      57
10445          糸島高校前     九州旅客鉄道         筑肥線    2037

[10446 rows x 4 columns]

In [8]:
df_json

,type,properties.駅名,properties.運営会社,properties.路線名,properties.鉄道区分,properties.事業者種別,properties.重複2011,properties.有無2011,properties.備考2011,properties.乗降客数11,properties.重複2012,properties.有無2012,properties.備考2012,properties.乗降客数12,properties.重複2013,properties.有無2013,properties.備考2013,properties.乗降客数13,properties.重複2014,properties.有無2014,properties.備考2014,properties.乗降客数14,properties.重複2015,properties.有無2015,properties.備考2015,properties.乗降客数15,properties.重複2016,properties.有無2016,properties.備考2016,properties.乗降客数16,properties.重複2017,properties.有無2017,properties.備考2017,properties.乗降客数17,properties.重複2018,properties.有無2018,properties.備考2018,properties.乗降客数18,geometry.type,geometry.coordinates
0,Feature,二月田,九州旅客鉄道,指宿枕崎線,11,2,1,3,None,0,1,3,None,0,1,3,None,0,1,3,None,0,1,3,None,0,1,3,None,0,1,3,None,0,1,1,None,658,LineString,"[[130.63035, 31.25405], [130.62985, 31.25459]]"
1,Feature,古島,沖縄都市モノレール,沖縄都市モノレール線,23,5,1,1,None,3907,1,1,None,3980,1,1,None,4572,1,1,None,4187,1,1,None,4648,1,1,None,4528,1,1,None,4819,1,1,None,5086,LineString,"[[127.70279, 26.23035], [127.70309, 26.23093]]"
2,Feature,お台場海浜公園,ゆりかもめ,東京臨海新交通臨海線,24,5,1,1,None,14612,1,1,None,16130,1,1,None,16357,1,1,None,16515,1,1,None,17537,1,1,None,17488,1,1,None,16944,1,1,None,17165,LineString,"[[139.77818, 35.62961], [139.77888, 35.63]]"
3,Feature,東京国際クルーズターミナル,ゆりかもめ,東京臨海新交通臨海線,24,5,1,1,None,3767,1,1,None,3235,1,1,None,3407,1,1,None,3782,1,1,None,3682,1,1,None,3682,1,1,None,3590,1,1,None,3551,LineString,"[[139.77335, 35.62129], [139.77288, 35.62186]]"
4,Feature,テレコムセンター,ゆりかもめ,東京臨海新交通臨海線,24,5,1,1,None,12112,1,1,None,12775,1,1,None,13366,1,1,None,14138,1,1,None,14069,1,1,None,14069,1,1,None,13744,1,1,None,13475,LineString,"[[139.78001, 35.61791], [139.77932, 35.61754]]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10441,Feature,栄町,富山地方鉄道,不二越線,12,4,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,1,1,新駅設置,53,LineString,"[[137.23320913, 36.69081346], [137.2333682, 36..."
10442,Feature,清流みはらし,錦川鉄道,錦川清流線,12,5,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,1,2,新駅設置,0,LineString,"[[132.00593139, 34.21122049], [132.00627, 34.2..."
10443,Feature,八木沢・宮古短大,三陸鉄道,リアス線,12,5,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,1,1,新駅設置,49,LineString,"[[141.94602055000001, 39.61907818], [141.94671..."
10444,Feature,払川,三陸鉄道,リアス線,12,5,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,1,1,新駅設置,57,LineString,"[[141.93256926, 39.56466426], [141.93307938, 3..."
10445,Feature,糸島高校前,九州旅客鉄道,筑肥線,11,2,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,3,4,None,0,1,1,新駅設置,2037,LineString,"[[130.21294673, 33.56056049], [130.21361724, 3..."